// Colors
.base-color-group .components-base-control.base-pop-color-control {
    margin-bottom:0;
    border:1px solid var(--bsb-border-color, #859CB6 );
    border-bottom:0;
    padding:4px 8px;
}
.base-color-group .components-base-control.base-pop-color-control:last-child {
    border-bottom:1px solid var(--bsb-border-color, #859CB6 );
}
.base-color-group .base-pop-color-control .base-pop-color-icon-indicate .base-pop-color-indicate {
    width: 24px;
    height: 24px;
}
.base-color-group .base-pop-color-control .base-pop-color-clear span.dashicon {
    width: 14px;
    font-size: 14px;
    height: 14px;
}
.base-color-group .base-pop-color-control .color-indicator-icon .dashicons-admin-site {
    left: 4px;
    top: 4px;
}
.components-base-control.base-two-column-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
}
.components-base-control.base-two-column-group  > .components-base-control {
    margin-bottom:0
}