.base-blocks-block-parent-selector {
    border-top: 1px solid #CBD5E0;
}
.base-blocks-block-parent-selector .base-blocks-block-parent-selector__button.components-button {
    width: 100%;
    padding: 0 16px;
    height: 44px;
}
.base-blocks-block-parent-selector .base-blocks-block-parent-selector__button.components-button:hover {
    background: rgba(237,242, 247, .4);
}