/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 // Controls
 .components-button-group.bsb-tab-block-layout-select {
	display: grid;
    position: relative;
    grid-template-columns:repeat(2, minmax(0, 1fr) );
	z-index: 0;
	gap: 8px;
}

.bsb-tab-block-layout-select .components-button.bsb-tab-block-layout-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	line-height: 1.2;
	border: 3px solid transparent;
	border-radius: 2px;
	background: transparent;
	color: #4A5568;
	padding: 4px;
	box-shadow: none;
	white-space: normal;
	height: 80px;
	padding: 10px 4px;
}

.bsb-tab-block-layout-select .components-button.bsb-tab-block-layout-item svg {
width: 86px;
max-width: 100%;
height: auto !important;
display:block;
}
.bsb-tab-block-layout-select .components-button.bsb-tab-block-layout-item.is-primary {
    border-color: var(--wp-admin-theme-color, #00669b);
    background: transparent;
	color: #4A5568;
box-shadow: none;
}

 .bsb-device-choice.bst-size-tabs > .components-tab-panel__tabs{
	 margin-top:0;
 }
 .bst-tabs-layout-vtabs .bst-tabs-wrap {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
 }
 .components-toolbar.bsb-add-block .block-editor-button-block-appender.components-button.components-button {
    box-shadow: none;
}
 .bsb-add-new-tab-contain {
    text-align: right;
}
.bst-title-text.is-selected, .bst-title-sub-text.is-selected {
    min-width: 5px;
}
.wp-block[data-type="base/tab"] {
    margin-top: 0;
    margin-bottom: 0;
}
.wp-block[data-type="base/tab"] > .block-editor-block-list__block-edit > .block-editor-block-mover {
    display:none !important;
}
.bst-tabs-layout-vtabs .base-blocks-tab-item__control-menu {
    left: auto;
    right: 0;
    transform: translateX(0);
}
.base-blocks-tab-item__control-menu .components-icon-button, .base-blocks-tab-item__control-menu .components-button  {
    color:white;
	padding: 0 !important;
	height: 20px;
}
.components-button.bst-tab-add.is-primary {
    border: 0;
    text-shadow: none;
    -webkit-box-shadow: none;
	box-shadow: none;
	vertical-align: top;
    padding-bottom: 2px;
}
.components-button.bst-tab-add.is-primary svg {
    margin-top:4px;
}
 .base-blocks-tab-item__control-menu {
    position: absolute;
	top: -24px;
    background: #0085ba;
    padding:2px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.bst-tabs-title-list li {
    position: relative;
}

li.bst-tab-title-active .base-blocks-tab-item__control-menu {
    display: flex;
}
 .bst-select-starter-style-tabs {
    padding: 20px;
    border: 2px dashed var(--bsb-border-color, #859CB6 );
    text-align: center;
    position: relative;
    z-index: 10;
}

.bst-select-starter-style-tabs-title {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 16px;
}

.bst-select-starter-style-tabs .bst-inital-tabs-style-btn {
    height: auto;
    width: 320px;
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    padding: 2px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.bst-select-starter-style-tabs .bst-inital-tabs-style-btn svg {
    width: 100%;
}
.bst-select-starter-style-tabs .bst-init-tabs-btn-group .bst-inital-tabs-style-btn:first-child {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 0;
    padding: 2px;
    margin-right: 0;
    margin-bottom: 5px;
}
.bst-select-starter-style-tabs .bst-init-tabs-btn-group .bst-inital-tabs-style-btn:first-child:hover {
    text-decoration: underline;
}
.components-button-group button.components-button.bst-init-open-tab {
    width: auto;
    padding: 4px 10px;
    border-radius: 3px !important;
    height: auto;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
}
.bst-select-starter-style-tabs .bst-init-tabs-btn-group .bst-inital-tabs-style-btn:first-child:focus {
    background: transparent;
    box-shadow: none;
}
.bst-select-starter-style-tabs .bst-inital-tabs-style-btn:hover {
        border: 2px solid #aaa;
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 .bst-inspect-tabs .components-button-group .bst-layout-btn.bst-tablayout {
    border-radius: 0;
}
 .components-button-group .bst-layout-btn.bst-tablayout {
	height: 46px;
	svg {
		width: 40px;
		height: 40px;
	}
	&:hover, &.is-primary, &:focus:not(:disabled):not([aria-disabled=true]) {
		background:#eee;
		border-color: #222;
		svg path, svg rect {
			fill: #222;
		}
	}
}
.bst-tab-title .editor-rich-text {
    display: inline-flex;
}
.edit-post-sidebar p.bst-setting-label, .bst-block-defaults-modal p.bst-setting-label {
    font-weight: 600;
    color: #191e23;
	padding: 0 0 5px;
	clear: both;
	margin-top:0;
}
.bst-size-type-options.bst-outline-control {
	.components-button.bst-size-btn {
		padding: 2px 4px;
		svg {
			fill: #777;
			width: 15px;
			height: 15px;
		}
		&.is-primary svg {
			fill: #222;
		}
	}
}

// .components-panel__body > .components-panel__body >.components-panel__body-title > .components-panel__body-toggle {
//     padding: 10px 10px 10px 30px;
// }
.components-range-control.bst-icon-rangecontrol .components-base-control__label {
    width: 30px;
}
.bst-icon-rangecontrol  .components-base-control__field {
	display: flex;
	align-items: center;
	width: 100%;
}

.bst-inspect-tabs.bst-hover-tabs.bst-no-ho-ac-tabs .components-tab-panel__tabs button {
    width: 33.33%;
    padding: 6px 0;
    font-size: 12px;
}
#editor .block-editor-block-list__layout .bst-tabs-wrap .bst-tabs-title-list {
	padding: 30px 0 0 0;
	margin:0;
	list-style: none;
}
.wp-block-base-tabs .bst-tabs-title-list {
	margin:0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	li {
		margin: 0 4px -1px 0;
		cursor: pointer;
		list-style: none;
		.bst-tab-title {
			padding: 8px 16px;
			display:flex;
			color: var(--global-palette5, #444444);
			align-items: center;
			border-style: solid;
			border-color: transparent;
			border-width: 1px 1px 0 1px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			transition: all .2s ease-in-out;
			box-shadow: none !important;
			outline: 0 !important;
			height: 100%;
		}
		&.bst-tab-title-active {
			z-index: 4;
			.bst-tab-title {
				background-color: #fff;
				border-color: #dee2e6;
			}
		}
	}
}
.bst-tabs-title-list {
	li.bst-tabs-has-icon-false {
		.bst-tab-title {
			display:block;
		}
	}
}
.bst-tabs-icon-side-top .bst-tab-title {
    flex-direction: column;
}

.bst-tab-alignment-center > .bst-tabs-wrap >  .bst-tabs-title-list {
	justify-content: center;
}
.bst-tab-alignment-right > .bst-tabs-wrap >  .bst-tabs-title-list {
	justify-content: flex-end;
}
.bst-tabs-content-wrap:before, .bst-tabs-content-wrap:after {
    content: '';
    clear: both;
    display: table;
}
.bst-tabs-content-wrap {
    border: 1px solid #dee2e6;
	padding: 20px;
	text-align: left;
	position: relative;
}
.wp-block-base-tabs .block-editor-block-list__layout {
	.block-editor-block-list__block {
		max-width: none !important;
	}
}
.bst-tabs-content-wrap [data-type="base/tab"] {
	display: none;
}

// V tabs
.bst-tabs-layout-vtabs:after, .bst-tabs-wrap:after {
    clear: both;
    display: table;
    content: '';
}
.bst-tabs-layout-vtabs {
	> .bst-tabs-wrap > .bst-tabs-title-list {
		width: 30%;
		flex-direction: column;
		li {
			margin: 0 -1px 4px 0;
			.bst-tab-title {
				border-width: 1px 0px 1px 1px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
	> .bst-tabs-wrap > .bst-tabs-content-wrap {
		width: auto;
		flex: 1;
	}
	&.bst-tab-alignment-left > .bst-tabs-wrap > .bst-tabs-title-list li .bst-tab-title {
		align-items: center;
		justify-content: flex-start;
	}
	&.bst-tab-alignment-center > .bst-tabs-wrap > .bst-tabs-title-list {
		justify-content: flex-start;
		li {
			text-align: center;
			.bst-tab-title {
				justify-content: center;
			}
			.bsb-tab-titles-wrap {
				align-items: center;
			}
		}
	}
	&.bst-tab-alignment-right > .bst-tabs-wrap > .bst-tabs-title-list {
		justify-content: flex-start;
		li {
			text-align: right;
			.bst-tab-title {
				justify-content: flex-end;
				align-items: center;
			}
			.bsb-tab-titles-wrap {
				align-items: flex-end;
			}
		}
	}
}
.bst-tabs-svg-show-only .editor-rich-text {
    display:none;
}
.bst-title-svg-side-left {
    padding-right: 5px;
}
.bst-title-svg-side-right {
    padding-left: 5px;
}
.bst-tabs-svg-show-only .bst-title-svg-side-right {
	padding-left: 0px;
}
.bst-tabs-svg-show-only .bst-title-svg-side-left {
	padding-right: 0px;
}
.bst-tabs-wrap {
    margin: 0 auto;
}
.bst-tabs-layout-vtabs.bst-tab-alignment-center > .bst-tabs-wrap > .bst-tabs-title-list li .bsb-tab-titles-wrap {
	align-items: center;
}
.bsb-tab-titles-wrap {
    display: inline-flex;
    flex-direction: column;
}
.bst-title-sub-text {
	font-size: 14px;
	line-height: 24px;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-8 > li {
    flex: 0 1 12.5%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-7 > li {
    flex: 0 1 14.28%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-6 > li {
    flex: 0 1 16.66%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-5 > li {
    flex: 0 1 20%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-4 > li {
    flex: 0 1 25%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-3 > li {
    flex: 0 1 33.33%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-2 > li {
    flex: 0 1 50%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-1 > li {
    flex: 0 1 100%;
}
ul.bst-tabs-title-list.bsb-tab-title-columns-1 > li > .bst-tab-title {
    margin-right: 0px !important;
}
ul.bst-tabs-title-list.bsb-tabs-list-columns > li:last-child > .bst-tab-title {
    margin-right: 0px !important;
}
ul.bst-tabs-title-list.bsb-tabs-list-columns .bst-tab-title {
	justify-content: center;
	text-align: center;
}
.bst-tab-alignment-center ul.bst-tabs-title-list.bsb-tabs-list-columns .bsb-tab-titles-wrap {
	align-items:center;
}
.bst-tab-alignment-right ul.bst-tabs-title-list.bsb-tabs-list-columns .bsb-tab-titles-wrap {
	align-items:flex-end;
}
.bst-tabs-svg-show-only .bst-title-text {
    display:none;
}

@mixin bst-tabs-accordion {
	//dig out the content sections
	.block-editor-block-list__layout, .block-editor-inner-blocks, .bst-tabs-content-wrap {
		display: contents;
	}
	//dig out the tab title sections
	.bst-tabs-title-list {
		display: contents;
	}

	//set the new title and tab wrapper to flex so the elements can be ordered
	.bst-tabs-wrap {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

@media (min-width: 767px) and (max-width: 1025px) {
	.bst-tabs-tablet-layout-accordion {
		@include bst-tabs-accordion;
	}
}
@media (max-width: 767px) {
	.bst-tabs-mobile-layout-accordion {
		@include bst-tabs-accordion;
	}
}