/**
 * #.# Styles
 *
 * CSS for Backend.
 */
 @import './splide.scss';
 .block-editor-block-list__block[data-type="base/advancedgallery"] {
    margin-bottom: 0;
    margin-top: 0;
}
.bst-blocks-carousel-thumbnails.splide:not( .is-overflow ) .splide__slide:last-child {
	margin: 0 !important;
}
.bst-blocks-carousel-thumbnails.splide:not( .is-overflow ) .splide__list {
	justify-content: center;
}
 // Controls.
.bsb-gallery-type-select .base-radio-control-flexwrap .components-button.base-radio-item {
    height: 50px;
	svg {
		width: 100%;
		height: auto;
	}
}
.bsb-gallery-type-select .base-radio-container-control.components-button-group .components-button.has-icon.radio-no-label svg {
	rect {
	fill: none !important;
	}
	path[fill="none"] {
		fill: none !important;
	}
}
.bsb-gallery-main-contain.bsb-gallery-type-fluidcarousel .base-blocks-gallery-item {
	width: auto;
	max-width: 100%;
}
.wp-block[data-align=right]>.wp-block-base-advancedgallery, .wp-block[data-align=left]>.wp-block-base-advancedgallery {
    max-width: 420px;
    width: 100%;
}
.wp-block-base-advancedgallery * {
	box-sizing: border-box;
}
.wp-block-base-advancedgallery ul.bsb-gallery-main-contain {
    margin-bottom: 0;
	margin-top:0;
}
.bsb-gallery-custom-link {
	.components-base-control__field {
		margin-bottom: 0;
	}
}
 .components-button-group.bst-style-btn-group.bsb-gallery-type-select button.components-button.bst-style-btn {
	width: 33%;
	&.bsb-disabled-btn{
		opacity: 0.6;
	}
	&.is-primary {
		border-color: #000;
	}
 }
 .wp-block[data-type="base/advancedgallery"] .bsb-gallery-container > .components-form-file-upload {
	margin-top: 10px;
	.editor-media-placeholder {
		margin: 0;
	}
 }
 .base-blocks-gallery-item .base-blocks-gallery-item-inner figcaption {
	 z-index: 10;
 }
.bsb-gallery-caption-style-below .base-blocks-gallery-item .base-blocks-gallery-item-inner .is-selected figcaption.base-blocks-gallery-item__caption {
    position: relative;
}
 .bsb-gallery-caption-style-below .base-blocks-gallery-item .base-blocks-gallery-item-inner .is-selected figcaption.base-blocks-gallery-item__caption {
    position: relative;
}
 .wp-block[data-type="base/advancedgallery"] .bsb-gallery-container > .components-placeholder.wp-block-base-advancedgallery {
	margin-top: 10px;
 }
 .bsb-image-size-container .bsb-gallery-type-select-form-row {
    margin-bottom: 10px;
    z-index: 220;
	position: relative;
 }
 .bsb-gallery-custom-link {
    position: relative;
    z-index: 2;
    padding: 0 4px 4px;
    display: block;
}
.bsb-gallery-custom-link .block-editor-url-input {
    width:100%;
    border-top: 4px solid var(--wp-admin-theme-color, #00669b);
}
.bsb-gallery-custom-link .block-editor-url-input input[type=text] {
    width:100%;
    margin: 0;
	line-height:18px;
	padding-right: 40px;
}
.bsb-gallery-custom-link .block-editor-url-popover__settings-toggle {
    position: absolute;
    right: 4px;
    top: 4px;
}
.wp-block-base-advancedgallery {
	.bst-blocks-carousel {
		padding: 0 0 25px;
	}
   .bst-blocks-carousel.bst-carousel-container-dotstyle-none {
		padding-bottom: 0;
   }
}
.bsb-gallery-main-contain {
	li {
		list-style-type: none;
	}
}
.base-blocks-gallery-item {

	// Hide the focus outline that otherwise briefly appears when selecting a block.
	figure:not(.is-selected):focus {
		outline: none;
	}
	.is-selected {
		outline: 0;
		&:before {
			content: '';
			position: absolute;
			border: 4px solid var(--wp-admin-theme-color, #00669b);
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}
		.bsb-gallery-image-contain{
			outline:0;
		}
	}

	.is-transient img {
		opacity: 0.3;
	}
	.block-editor-rich-text {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 100%;
		overflow-y: auto;
	}
	figcaption {
		max-height: 100%;
		overflow-y: auto;
	}

	.block-editor-rich-text figcaption:not([data-is-placeholder-visible="true"]) {
		position: relative;
		overflow: hidden;
	}
	.is-selected .block-editor-rich-text {
		z-index: 2;
		// IE calculates this incorrectly, so leave it to modern browsers.
		@supports (position: sticky) {
			right: 0;
			left: 0;
			margin-top: -4px;
		}

		// Override negative margins so this toolbar isn't hidden by overflow. Overflow is needed for long captions.
		.block-editor-rich-text__inline-toolbar {
			top: 0;
		}
	}

	.is-selected .base-blocks-library-gallery-item__move-menu,
	.is-selected .base-blocks-library-gallery-item__inline-menu {
		background-color: var(--wp-admin-theme-color, #00669b);

		.components-button {
			color: #fff;
		}

		.components-button:focus {
			color: #fff;
		}

	}

	figcaption .block-editor-rich-text {
		a {
			color: #fff;
		}
	}
}
.bsb-gallery-caption-style-below .base-blocks-gallery-item .block-editor-rich-text {
    position: relative;
    overflow: visible;
}
.bsb-gallery-main-contain.bsb-gallery-type-slider .bst-blocks-carousel .splide .splide__slide.is-active {
    z-index: 10;
}
.bsb-gallery-main-contain.bsb-gallery-type-thumbslider .bst-blocks-carousel .splide .splide__slide.is-active {
    z-index: 10;
}
.bsb-gallery-caption-style-below .base-blocks-gallery-item .base-blocks-gallery-item-inner .is-selected .block-editor-rich-text {
	margin-top:0;
}

.bsb-gallery-caption-style-below .base-blocks-gallery-item .is-selected .block-editor-rich-text .block-editor-rich-text__inline-toolbar {
    top:-40px;
}
.base-blocks-library-gallery-item__move-menu,
.base-blocks-library-gallery-item__inline-menu {
	padding: 2px;
	display: inline-flex;
	z-index: 20;

	.components-button {
		color: transparent;
	}
}
.base-blocks-library-gallery-item__inline-menu {
	position: absolute;
	top: 0px;
	right: 0px;
}

.base-blocks-library-gallery-item__move-menu {
	position: absolute;
	top: 0px;
	left: 0px;
}

.base-blocks-gallery-item__move-backward,
.base-blocks-gallery-item__move-forward,
.base-blocks-gallery-item__remove {
	padding: 0;
}

.base-blocks-gallery-item .components-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
}
.wp-block[data-type="base/advancedgallery"] .bsb-gallery-main-contain:not(.specificity) {
	padding:0;
	box-sizing: border-box;
}
.bsb-gallery-main-contain {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	.base-blocks-gallery-item {
		position: relative;
		padding:0;
		margin:0;
		.base-blocks-gallery-item-inner {
			position: relative;
			margin-bottom: 0;
			figure {
				margin: 0;
				.bsb-gal-image-radius {
					position: relative;
					overflow: hidden;
					margin: 0 auto;
				}
				.bsb-gallery-image-contain {
					border: 0;
					background: transparent;
					padding: 0;
					margin: 0;
					display:block;
					width: 100%;
					transition: all .3s ease-in-out;
					&.base-blocks-gallery-intrinsic {
						height: 0;
						position: relative;
						img {
							position: absolute;
							flex: 1;
							height: 100%;
							object-fit: cover;
							width: 100%;
							top: 0;
							left: 0;
						}
					}
				}
				.bsb-gallery-image-ratio-square {
					padding-bottom: 100%;
				}
				.bsb-gallery-image-ratio-land43 {
					padding-bottom: 75%;
				}
				.bsb-gallery-image-ratio-land32 {
					padding-bottom: 66.67%;
				}
				.bsb-gallery-image-ratio-land169 {
					padding-bottom: 56.25%;
				}
				.bsb-gallery-image-ratio-land21 {
					padding-bottom: 50%;
				}
				.bsb-gallery-image-ratio-land31 {
					padding-bottom: 33%;
				}
				.bsb-gallery-image-ratio-land41 {
					padding-bottom: 25%;
				}
				.bsb-gallery-image-ratio-port34 {
					padding-bottom: 133.33%;
				}
				.bsb-gallery-image-ratio-port23 {
					padding-bottom: 150%;
				}
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}

			// IE doesn't handle cropping, so we need an explicit width here.
			img {
				width: 100%;

				// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
				@supports (position: sticky) {
					width: auto;
				}
			}

			figcaption {
				width: 100%;
				max-height: 100%;
				position: absolute;
				bottom:0;
				overflow: visible;
				padding: 43px 10px 10px;
				font-size:13px;
				color: #fff;
				text-align: center;
				background: linear-gradient(0deg, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
				img {
					display: inline;
				}
				&.editing-caption {
					padding-top: 48px;
				}
			}
			.base-blocks-gallery-item-hide-caption figcaption {
				display: none;
			}
		}
	}

	// // On mobile and responsive viewports, we allow only 1 or 2 columns at the most.
	// & .base-blocks-gallery-item {
	// 	width: 100%;
	// }

	@for $i from 2 through 8 {
		&.bsb-gallery-preview-columns-#{ $i } .base-blocks-gallery-item {
			width: calc(100%/#{ $i });
		}
	}
	&.bsb-gallery-preview-columns-1 .base-blocks-gallery-item {
		width: 100%;
	}
}
.bsb-gallery-caption-style-below .base-blocks-gallery-item .base-blocks-gallery-item-inner figcaption.base-blocks-gallery-item__caption {
	padding: 10px;
	margin-top:0;
	background: rgba( 0,0,0, 0.5 );
	position: static;
}
.bsb-gallery-caption-style-bottom-hover .base-blocks-gallery-item figcaption {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.bsb-gallery-caption-style-bottom-hover .base-blocks-gallery-item:hover figcaption, .bsb-gallery-caption-style-bottom-hover .base-blocks-gallery-item .is-selected figcaption {
    opacity: 1;
}
.bsb-gallery-main-contain.bsb-gallery-caption-style-cover-hover .base-blocks-gallery-item {
	.block-editor-rich-text {
		top: 0;
		margin: 0;
	}
	.base-blocks-gallery-item-inner figcaption {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 10px;
		margin: 0;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		background: rgba( 0,0,0, 0.5 );
	}
}
.bsb-gallery-main-contain.bsb-gallery-caption-style-cover-hover .base-blocks-gallery-item:hover figcaption, .bsb-gallery-main-contain.bsb-gallery-caption-style-cover-hover .base-blocks-gallery-item .is-selected figcaption {
    opacity: 1;
}
.wp-block[data-type="base/advancedgallery"] .bsb-gallery-main-contain.bsb-gallery-type-carousel, .wp-block[data-type="base/advancedgallery"] .bsb-gallery-main-contain.bsb-gallery-type-fluidcarousel, .wp-block[data-type="base/advancedgallery"] .bsb-gallery-main-contain.bsb-gallery-type-slider, .wp-block[data-type="base/advancedgallery"] .bsb-gallery-main-contain.bsb-gallery-type-thumbslider {
	margin:0;
}
.bsb-gallery-main-contain.bsb-gallery-type-carousel, .bsb-gallery-main-contain.bsb-gallery-type-slider, .bsb-gallery-main-contain.bsb-gallery-type-thumbslider {
	display: block;
}
.bsb-gallery-main-contain.bsb-gallery-type-thumbslider .splide.splide--nav>.splide__track>.splide__list>.splide__slide {
	border: 0;
	outline: 1px solid transparent;
	outline-offset: -1px;
}
.bsb-gallery-main-contain.bsb-gallery-type-thumbslider .splide.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
	border:0;
	outline: 1px solid var( --global-gray-500, #bbb );
	outline-offset: -1px;
}
.bsb-gallery-main-contain.bsb-gallery-type-thumbslider .splide .splide__slide img {
	border: 0px solid transparent;
}
.bsb-gallery-main-contain.bsb-gallery-type-thumbslider .splide .splide__slide.is-active img {
	border: 0px solid var( --global-gray-500, #bbb );
}
.bsb-gallery-main-contain.bsb-gallery-type-fluidcarousel {
	display: block;
}
.bsb-gallery-main-contain.bsb-gallery-type-carousel .base-blocks-gallery-item .base-blocks-gallery-item-inner .bsb-gallery-image-contain.base-blocks-gallery-intrinsic.bsb-gallery-image-ratio-inherit {
	padding-bottom: 100%;
	img {
		object-fit: contain;
	}
}
.bsb-gallery-type-carousel > .bst-blocks-carousel > .base-blocks-gallery-item {
	float:left;
}
.bsb-gallery-main-contain .bst-blocks-carousel:after {
    clear: both;
    display: table;
    content: '';
}
.bsb-gallery-main-contain.bsb-gallery-type-slider .base-blocks-gallery-item .base-blocks-gallery-item-inner .bsb-gallery-image-contain.base-blocks-gallery-intrinsic.bsb-gallery-image-ratio-inherit {
	padding-bottom: 66.67%;
	img {
		object-fit: contain;
	}
}
.bsb-gallery-main-contain.bsb-gallery-type-thumbslider .base-blocks-gallery-item .base-blocks-gallery-item-inner .bsb-gallery-image-contain.base-blocks-gallery-intrinsic.bsb-gallery-image-ratio-inherit {
	padding-bottom: 66.67%;
	img {
		object-fit: contain;
	}
}
.bsb-gallery-main-contain.bsb-gallery-type-fluidcarousel {
    .bst-blocks-carousel .splide__list figure {
		display: flex;
		flex-direction: column;
		.bsb-gal-image-radius {
			height: 300px;
			width:auto;
			margin:0 auto;
			img {
				height: 300px;
				width:auto;
				flex: 1;
				object-fit: cover;
			}
		}
	}
}
.bsb-gallery-type-carousel .bsb-gallery-image-ratio-inherit.bsb-gallery-image-contain:after, .bsb-gallery-type-slider .bsb-gallery-image-ratio-inherit.bsb-gallery-image-contain:after, .bsb-gallery-type-thumbslider .bsb-gallery-image-ratio-inherit.bsb-gallery-image-contain:after {
	display:none;
}
.bsb-gallery-main-contain.bsb-gallery-type-carousel .bsb-has-image-ratio-inherit .bsb-gal-image-radius, .bsb-gallery-main-contain.bsb-gallery-type-slider .bsb-has-image-ratio-inherit .bsb-gal-image-radius, .bsb-gallery-main-contain.bsb-gallery-type-thumbslider .bsb-has-image-ratio-inherit .bsb-gal-image-radius {
	border-radius:0;
}
.bst-blocks-carousel .slick-dots {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
// Filters
.bsb-gallery-filter-vintage .bsb-gallery-image-contain {
	&:after {
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		box-shadow:inset 0 0 100px rgba(0,0,20,.4), inset 0 5px 15px rgba(0,0,0,.1);
		background: linear-gradient(to bottom, rgba(255,145,0,0.2) 0%,rgba(255,230,48,0.2) 60%), linear-gradient(20deg, rgba(255,0,0,0.2) 0%,rgba(255,0,0,0) 35%);
	}
	img {
		filter:sepia(0.2) brightness(1.1) contrast(1.3);
	}
}
.bsb-gallery-filter-grayscale .bsb-gallery-image-contain img {
	filter: grayscale(1);
}
.bsb-gallery-filter-sepia .bsb-gallery-image-contain img {
	filter: sepia(0.5);
}
.bsb-gallery-filter-saturation .bsb-gallery-image-contain img {
	filter: saturate(1.6);
}
.bsb-gallery-filter-earlybird .bsb-gallery-image-contain {
	&::after {
		background: radial-gradient(circle,#d0ba8e 20%,#360309 85%,#1d0210 100%);
		mix-blend-mode: overlay;
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	img {
		filter: contrast(.9) sepia(.2);
	}
}
.bsb-gallery-filter-toaster .bsb-gallery-image-contain {
	&::after {
		background: radial-gradient(circle,#804e0f,#3b003b);
    	mix-blend-mode: screen;
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	img {
		filter: contrast(1.5) brightness(.9);
	}
}
.bsb-gallery-filter-mayfair .bsb-gallery-image-contain {
	&::after {
		background: radial-gradient(circle at 40% 40%,rgba(255,255,255,.8),rgba(255,200,200,.6),#111 60%);
		mix-blend-mode: overlay;
		opacity: .4;
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	img {
		filter: contrast(1.1) saturate(1.1);
	}
}
.bsb-gallery-main-contain.bsb-gallery-type-thumbslider .bst-blocks-carousel {
    padding-bottom: 0;
}
@media (max-width: 782px) {
.block-editor-editor-skeleton__content {
    max-width: 100%;
}
}
.interface-interface-skeleton__editor {
	max-width: 100%;
}

// .wp-block-base-advancedgallery {
// 	// Fix Slider Overflow Issue.
// 	.bst-blocks-carousel {
// 		max-width: calc(100vw - 20px - 160px);
// 	}

// 	.is-fullscreen-mode .bst-blocks-carousel {
// 		max-width: calc(100vw - 20px);
// 	}

// 	@media (max-width: 960px) {
// 		.auto-fold .bst-blocks-carousel {
// 			max-width: calc(100vw - 20px - 36px);
// 		}
// 		.auto-fold .edit-post-layout.is-sidebar-opened .bst-blocks-carousel {
// 			max-width: calc(100vw - 20px - 280px - 36px);
// 		}
// 	}

// 	.folded .bst-blocks-carousel {
// 		max-width: calc(100vw - 20px - 36px);
// 	}

// 	.edit-post-layout.is-sidebar-opened .bst-blocks-carousel {
// 		max-width: calc(100vw - 20px - 280px - 160px);
// 	}

// 	.is-fullscreen-mode .edit-post-layout.is-sidebar-opened .bst-blocks-carousel {
// 		max-width: calc(100vw - 20px - 280px);
// 	}

// 	.folded .edit-post-layout.is-sidebar-opened .bst-blocks-carousel {
// 		max-width: calc(100vw - 20px - 280px - 36px);
// 	}
// }
